# Backend environment variables
GEMINI_API_KEY=AQ.Ab8RN6Ku58U73lYDRNo3XgF3AgGQXaIbnZ4krzflJiIzq6K8nA
GEMINI_FAST_MODEL=AQ.Ab8RN6Ku58U73lYDRNo3XgF3AgGQXaIbnZ4krzflJiIzq6K8nA
GEMINI_COACH_MODEL=AQ.Ab8RN6Ku58U73lYDRNo3XgF3AgGQXaIbnZ4krzflJiIzq6K8nA
SECRET_KEY=AQ.Ab8RN6Ku58U73lYDRNo3XgF3AgGQXaIbnZ4krzflJiIzq6K8nA
DATABASE_URL=sqlite+aiosqlite:///./ironlog.db

# Frontend environment variables (optional)
VITE_API_URL=http://localhost:8000/api
